.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .divider {
    display: none;
  }
}

:host ::ng-deep mat-divider {
  height: 100%;
}
